/* Styling properties applied to entire page */
html, body, #root, .App {
  font-family: 'Raleway';
}

.leaflet-container {
  width: 100%;
  height: 95vh;
}

.tooltip {
  font-weight: bold;
  font-family: 'Raleway';
}

.park-marker {
  background-color: #204a23;
  transition-duration: 0.4s;
  width: 1px;
  height: 1px;
  border-radius: 50%;
}

.park-marker:hover {
  color: #f2de00;
  width: 10px;
  height: 10px;
}

.title-bar {
  display: flex;
  color: white;
  background-color: gray;
  font-weight: bold;
  width: 100%;
  height: 5vh;
}

.title-bar-title {
  font-size: 20pt;
  margin: auto;
}

.control-panel {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: white;
  font-family: 'Inconsolata', monospace;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.8;
  z-index: 314159;
}

.button {
  background-color: black;
  color: white;
  opacity: 1;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  padding: 1px 4px 3px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #dbdbdb;
  color: black;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
